<div class="page-header">
  <h1 class"text-center">Bienvenid@ a ThinkFlow</h1>
</div>
<div class="col-md-4 text-xs-center align-middle">
  <div class="notice marker-on-right bg-lighterBlue padding20 text-xs-center" style="height: 200px">
    <h2 class="fg-white" style="font-size: 120px; line-height: 80px; margin-bottom: 30px">5</h2>
    <p class="subheader-secondary fg-white">recomendaciones para comenzar</p>
  </div>
</div>
  <br>
<div class="col-md-8 float-left">
  <ol class="">
    <li><h3><strong>Gozatelo, </strong>sin emoción no hay aprendizaje</h3></li>
    <li><h3><strong>Sin temores, </strong>para progresar hay que desaprender</h3></li>
    <li><h3><strong>Trasciende, </strong>toma decisiones y haz que sea importante</h3></li>
    <li><h3><strong>Brilla, </strong>derrocha tú talento y enseña lo que sabes</h3></li>
    <li><h3>Las <strong><abbr title="Felicitaciones, Elogios, Agradecimientos">FEAs</abbr></strong> mantienen la motivación, <strong>son gratis</strong></h3></li>
  </ol>
</div>


<ul class="list-inline text-xs-center">
  <li class="list-unstyled submenu bg-apr col-xs-2">1</li>
  <li class="list-unstyled submenu bg-mej col-xs-2">2</li>
  <li class="list-unstyled submenu bg-emp col-xs-2">3</li>
  <li class="list-unstyled submenu bg-tra col-xs-2">4</li>
  <li class="list-unstyled submenu bg-ama col-xs-2">5</li>
  <li class="list-unstyled submenu bg-fuc col-xs-2">6</li>
</ul>