<div class="col-lg-4">
  <h1 class="jumbotron-heading">YaleX SAS</h1>
  <h4>NIT: 900728999-2</h4>
  <p class="lead text-muted">Colombia - Actividades de consultoría de gestión.</p>
</div>

<div class="col-lg-4">
<ul class="list-group">
  <li class="list-group-item">
    <span class="tag tag-default tag-pill float-xs-right">3</span>
    Excel
  </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill float-xs-right">2</span>
    Power BI
  </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill float-xs-right">4</span>
    Macros
  </li>
</ul>

<progress class="progress progress-striped" value="10" max="100"></progress>
<progress class="progress progress-striped progress-success" value="25" max="100"></progress>
<progress class="progress progress-striped progress-info" value="50" max="100"></progress>
<progress class="progress progress-striped progress-warning" value="75" max="100"></progress>
<progress class="progress progress-striped progress-danger" value="100" max="100"></progress>
</div>

<div class="job-search-title">
  <h3 class="title_block">We found <span>5</span> available jobs for you</h3>
</div>
<br>

<div class="row">
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Personas</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Empresas</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
   <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Empresas</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
