<%= render 'layouts/columns' %>
<%= render 'layouts/gallery' %>

<div class="container">
<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>

<div class="col-sm-12 bd-callout bd-callout-warning">
  <p class="text-justify blockquote">Somos una organización sin animo de lucro, que  construye iniciativas sociales sostenibles al servicio de las poblaciones con alto índice de necesidades básicas insatisfechas.</p>
</div>
</div>


<div class="row text-center">
  <div class="col-xs-12 text-center">      
      <div class="col-xs-12 col-sm-4">
          <h1>Toma el control</h1><br>
          <i class="fa fa-flask iconpas cl-apr"></i> <br><br>
          <p>Emprede proyectos divertidos y desafiantes para acercar tú corazón a sus gustos, anhelos, frustraciones y obtener retroalimentación </p> <br>
          <a class="btn-yx2 btn-apr" href="#">Explorar</a>
      </div>
      <div class="col-xs-12 col-sm-4">
          <h1>Haz la diferencia</h1><br>
          <i class="fa fa-cog iconpas cl-mej animated zoomIn"></i> <br><br>
          <p>Incluyele en tus planes y decisiones, libera tiempo para compartir solitos, expresarle tus sentimientos y promover su bienestar</p><br>
          <a class="btn-yx2 btn-mej" href="#">Planear</a>
      </div>
      <div class="col-xs-12 col-sm-4">
          <h1>Contagia la magia</h1><br>
          <i class="fa fa-heart iconpas cl-ama animated flash"></i><br><br>
          <p>Disfruta cada instante y conviertelos en momentos memorables, tan felices como si hoy fuera el último día y mañana la primera vez</p><br>
          <a class="btn-yx2 btn-ama" href="#">Gozar</a>
      </div>
  </div>
</div>
        
<div class="col-3 pull-right">
  <ul class="list-group">
    <li class="list-group-item justify-content-between">
      Cras justo odio
      <span class="badge badge-primary badge-pill">14</span>
    </li>
    <li class="list-group-item justify-content-between">
      Dapibus ac facilisis in
      <span class="badge badge-default badge-pill">2</span>
    </li>
    <li class="list-group-item justify-content-between">
      Morbi leo risus
      <span class="badge badge-default badge-pill">1</span>
    </li>
    <li class="list-group-item justify-content-between">
      Morbi leo risus
      <span class="badge badge-default badge-pill">1</span>
    </li>
    <li class="list-group-item justify-content-between">
      Morbi leo risus
      <span class="badge badge-default badge-pill">1</span>
    </li>
  </ul>
</div>

<div class="d-flex flex-row text-white align-items-stretch text-center">
  <div class="port-item p-4 bg-primary">
    <i class="fa fa-home d-block"></i> Home
  </div>
  <div class="port-item p-4 bg-success">
    <i class="fa fa-graduation-cap d-block"></i> Resume
  </div>
  <div class="port-item p-4 bg-warning">
    <i class="fa fa-folder-open d-block"></i> Work
  </div>
  <div class="port-item p-4 bg-danger">
    <i class="fa fa-envelope d-block"></i> Contact
  </div>
</div>


<div class="col-10 text-center">
  <button type="button" class="btn btn-default">Default <span class="badge badge-default badge-pill">14</span></button>
  <button type="button" class="btn btn-primary">Primary <span class="badge badge-default badge-pill">14</span></button>
  <button type="button" class="btn btn-success">Success <span class="badge badge-default badge-pill">14</span></button>
  <button type="button" class="btn btn-info">Info <span class="badge badge-default badge-pill">14</span></button>
  <button type="button" class="btn btn-warning">Warning <span class="badge badge-default badge-pill">14</span></button>
  <button type="button" class="btn btn-danger">Danger <span class="badge badge-default badge-pill">14</span></button>
  <button type="button" class="btn btn-primary">Primary <span class="badge badge-default badge-pill">14</span></button>
</div>