<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Perfil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#identification" role="tab">Identificación</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#qualities" role="tab">Cualidades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Hobbies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Intelectual</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Aprendizajes</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Mapa de Prosperidad</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Social</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Proezas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Kflows</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="profile" role="tabpanel">
    <div class="col-sm-4 text-xs-center">
      <%= image_tag "user1.jpg", class:"img-circle centered" %>
      <h3 class="team-name">Alex Corzo</h3>
      <span class="tag tag-default">Standard</span>
      <span class="tag tag-primary">Primary</span>
      <span class="tag tag-success">Success</span>
      <span class="tag tag-info">Info</span>
      <span class="tag tag-warning">Warning</span>
      <span class="tag tag-danger">Danger</span>
      <p> Ni productos, ni procesos, ni proyectos… sigo creyendo que el enfoque ganador son las personas.</p>
    </div>
  </div>
  <div class="tab-pane" id="identification" role="tabpanel">
    <p>15171560</p>
    <p>Alex Eduardo</p>
    <p>Corzo Vega</p>
    <p>Colombia</p>
    <p>200005</p>
    <p>Calle 6a # 19a 44 Los Músicos</p>
    <p>3012846739</p>
    <p>22/10/1980</p>
    <p>Masculino</p>
    <p>Casado</p>
    <p>180 cm</p>
    <p>85 Kg</p>
    <p>O+</p>
  </div>
  <div class="tab-pane" id="qualities" role="tabpanel">
    <h3>Sincero</h3>
    <p>Expongo mis argumentos y sentimientos sin fingir y de forma espontánea con aprecio y respeto hacia los demás</p>
    <h3>Autodidacta</h3>
    <p>Con gran motivación al mejoramiento continuo, síntesis de información y el aprendizaje de manera autónoma.</p>
    <h3>Perseverante</h3>
    <p>Dedicado y constante en la forma de pensar y actuar manteniendo el interés y un alto sentido de responsabilidad.</p>
  </div>
  <div class="tab-pane" id="improvement" role="tabpanel">
    <h3>Terco</h3>
    <p>Expongo mis argumentos y sentimientos sin fingir y de forma espontánea manteniendo el aprecio y respeto hacia los demás.</p>
    <h3>Ostinado</h3>
    <p>Con gran motivación al mejoramiento continuo, síntesis de información y el aprendizaje de manera autónoma.</p>
    <h3>Vengativo</h3>
    <p>Dedicado y constante en la forma de pensar y actuar manteniendo el interés y un alto sentido de responsabilidad.</p>
  </div>
</div>

<div class="clearfix"></div>

<div class="container-fluid">
  <div class="row text-xs-center">
    <div class="col-xs-4">
      <h2>Sincero</h2>
      <h4>Expongo mis argumentos y sentimientos sin fingir y de forma espontánea</h4>
    </div>
    <div class="col-xs-4">
      <h2>Autodidacta</h2>
      <h4>Mi conocimiento es limitado, pero mi motivación por aprender es envidiable.</h4>
    </div>
    <div class="col-xs-4">
      <h2>Perseverante</h2>
      <h4>Mi conocimiento es limitado, pero mi motivación mente es envidiable.</h4>
    </div>
  </div>
</div>