<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
<br>

<h2 class="text-center">TRAVESÍA EXCEL</h2>
<p class="lead text-muted">Comprende técnicas de análisis y validación de datos para generar documentos fiables, de calidad y con interfaces amigables, a través de Microsoft Excel.</p>

<!--<div class="row">-->
<!--  <div class="col">-->
<!--    <p class="text-justify">Excel es una herramienta tan versátil y potente como imaginemos y queramos que sea, útil para trabajos personales ó profesionales y con una curva de aprendizaje rápida; no importa que existan herramientas informáticas especializadas para realizar facturas, modelar bases de datos, formular y evaluar proyectos, entre otras, la hoja de cálculo de Microsoft se convierte en la primera opción para dar forma a nuestros proyectos; esa es la razón por la que algunos amamos Excel.</p>-->
<!--  </div>-->
<!--</div>-->

<!--Cards-->
<div class="container">
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">UNA PAREJA EN APUROS</h4>
      <img class="card-img-top" src="https://unsplash.it/239/200" alt="Card image cap">
      <p class="card-text">Ayuda a nuestra pareja en el presupuesto y las estrategias de financiación de la boda</p>
      <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">UNA PAREJA EN APUROS</h4>
      <img class="card-img-top" src="https://unsplash.it/239/200" alt="Card image cap">
      <p class="card-text">Ayuda a nuestra pareja en el presupuesto y las estrategias de financiación de la boda</p>
      <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">UNA PAREJA EN APUROS</h4>
      <img class="card-img-top" src="https://unsplash.it/239/200" alt="Card image cap">
      <p class="card-text">Ayuda a nuestra pareja en el presupuesto y las estrategias de financiación de la boda</p>
      <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
    </div>
  </div>
</div>

</div>