<div class="col-12">
  <h1 class="text-center" >TRAVESÍA EXCEL</h1>
  <p class="text-justify blockquote">Comprenda técnicas de análisis y validación de información
    para generar documentos fiables, de calidad y con interfaces amigables, a través de Microsoft Excel.</p>
</div>

<div class="col-12">
  <h3 class="text-center"><span>5</span> desafios disponibles para tí</h3>
  <br>
</div>
<div class="div row">
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">La Gran Boda</h3>
      <p class="card-text">Una pareja planea casarse y necesita elaborar un presupuesto para la boda.</p>
      <a href="#" class="btn btn-primary">Ayudar</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">La Gran Boda</h3>
      <p class="card-text">Una pareja planea casarse y necesita elaborar un presupuesto para la boda.</p>
      <a href="#" class="btn btn-primary">Ayudar</a>
    </div>
  </div>
</div>


<div class="row">
  <div class="col">
    <div class="card card-block">
      <h3 class="card-title">La Gran Boda</h3>
      <p class="card-text">Una pareja planea casarse y necesita elaborar un presupuesto para la boda.</p>
      <a href="#" class="btn btn-primary">Ayudar</a>
    </div>
  </div>
  <div class="col">
    <div class="card card-block">
      <h3 class="card-title">La Gran Boda</h3>
      <p class="card-text">Una pareja planea casarse y necesita elaborar un presupuesto para la boda.</p>
      <a href="#" class="btn btn-primary">Ayudar</a>
    </div>
  </div>
  <div class="col">
    <div class="card card-block">
      <h3 class="card-title">La Gran Boda</h3>
      <p class="card-text">Una pareja planea casarse y necesita elaborar un presupuesto para la boda.</p>
      <a href="#" class="btn btn-primary">Ayudar</a>
    </div>
  </div>
</div>