<div class="col-12">
  <br>
  <h3 class="text-center"><span>5</span> desafios disponibles para tí</h3>
  <br>
</div>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">TRAVESÍA EXCEL</h4>
    <h6 class="card-subtitle mb-2 text-muted">Alex Corzo</h6>
    <p class="card-text">Comprenda técnicas de análisis y validación de información
    para generar documentos fiables, de calidad y con interfaces amigables, a través de Microsoft Excel.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">TRAVESÍA EXCEL</h4>
    <h6 class="card-subtitle mb-2 text-muted">Alex Corzo</h6>
    <p class="card-text">Comprenda técnicas de análisis y validación de información
    para generar documentos fiables, de calidad y con interfaces amigables, a través de Microsoft Excel.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">TRAVESÍA EXCEL</h4>
    <h6 class="card-subtitle mb-2 text-muted">Alex Corzo</h6>
    <p class="card-text">Comprenda técnicas de análisis y validación de información
    para generar documentos fiables, de calidad y con interfaces amigables, a través de Microsoft Excel.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
