<h1 class="text-center cl-apr title">Emprender o Depender</h1> <br>
<img src="http://placehold.it/350x150">
<p class="text-xs-justify">Con una dosis justa de motivación y necesidad pronto llegara el momento en que nos preguntemos ¿y por qué no crear mi propia empresa?; Los motivos para querer desarrollar una actividad empresarial son diversos y no excluyentes,  pero puede que usted se  identifique con algunos de estas situaciones cuando se plantea emprender.</p>

<div class="container">
  <h4>Responses</h4>
  <div class="media response-info">
    <div class="media-left response-text-left">
      <a href="#">
        <img class="media-object" src="images/sin1.jpg" alt=""/>
      </a>
      <h5><a href="#">Username</a></h5>
    </div>
  </div>
  <div class="media-body response-text-right">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <ul>
    <li>Sep 21, 2015</li>
    <li><a href="single.html">Reply</a></li>
  </ul>
  </div>
</div>

<button type="button" class="btn btn-outline-danger">Browse All Categories</button>

<div class="clearfix"> </div>