.img-1 {
  background: image-url('postimage1.jpg') no-repeat;
  background-size: cover;
  color: white;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-2 {
  background: image-url('postimage2.jpg') no-repeat;
  background-size: cover;
  color: white;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}