// Font google
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:300');
// fuente body
body {
  font-family: 'Roboto', sans-serif;
}
// Nav
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

// Background image
section#intro {
  h1 {
    font-family: 'Lato', sans-serif;
  }
}
// Welcome imagen
img {
  max-width: 100%;
}

#intro {
  background: image-url('bg.png') no-repeat;
  background-size: cover;
  background-position: 35% 35%;
  color: white;
  height: 75vh;
}

.intro-wrapper {
 	background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}

p{
  font-size: 1.3em;
}

//bg 

