.bg-apr {
  background-color: #1E8AC7;
  color:white;
}

.bg-mej {
  background-color: #078086;
  color:white;
}

.bg-emp {
  background-color: #FF9D43;
  color:white;
}

.bg-tra {
  background-color: #7709AB;
  color:white;
}

.bg-ama {
  background-color: #AB1C09;
  color:white;
}

.bg-fuc {
  background-color: #9E005D;
  color:white;
}
.submenu {
  padding: 3.5em;
  display: block;
}

