<section id="jobs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 img-1">
      </div>
      <div class="col-sm-6">
        <div class="wrapper">
          <h1>Toma el control</h1> 
          <br>
          <p>Al menos una vez en la vida nos hemos convertido en payasos, poetas, compositores, cocineros, u otra locura, para conquistar a nuestro ser amado</p>
          <br><br>
          <a class="btn" href="#">Es tiempo de volverlo hacer</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="wrapper">
          <h1>Haz la diferencia</h1> <br>
          <p>Incluyele en tus planes y decisiones, libera tiempo para compartir solitos, expresarle tus sentimientos y promover su bienestar </p> 
          <br>
          <br><br>
          <a class="btn-yx" href="#">Es tiempo de volverlo hacer</a>
        </div>
      </div>
      <div class="col-sm-6 img-2">
      </div>
    </div>
  </div> 
</section>



<div class="container">
  <div class="row">
      <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Google Web Fonts and
              <br>Font Awesome Icons</h2>
          <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="img/phones.png" alt="">
      </div>
  </div>
</div>