<div class="col-news-top">
					<a href="#" class="date-in">
						<img class="img-responsive mix-in" src="images/pc.jpg" alt="">
						<div class="month-in">
						  <label>
							<span class="day">20</span>
							<span class="month">December</span>
						  </label>
						</div>
					</a>
                  <div class="clearfix"></div>
                </div>
 
<div class="row">
  <div class="col-sm-2 offset-1">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Misión 1</h3>
        <p class="card-text">Habilitada</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Misión 2</h3>
        <p class="card-text">Habilitada</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
    <div class="col-sm-2">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Misión 3</h3>
        <p class="card-text">Habilitada</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Misión 4</h3>
        <p class="card-text">Habilitada</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
    <div class="col-sm-2">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Misión 5</h3>
        <p class="card-text">Habilitada</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card card-block">
      <h3 class="card-title">La Gran Boda</h3>
      <p class="card-text">Una pareja planea casarse y necesita elaborar un presupuesto para la boda.</p>
      <a href="#" class="btn btn-primary">Ayudar</a>
    </div>
  </div>
  <div class="col">
    <div class="card card-block">
      <h3 class="card-title">La Gran Boda</h3>
      <p class="card-text">Una pareja planea casarse y necesita elaborar un presupuesto para la boda.</p>
      <a href="#" class="btn btn-primary">Ayudar</a>
    </div>
  </div>
  <div class="col">
    <div class="card card-block">
      <h3 class="card-title">La Gran Boda</h3>
      <p class="card-text">Una pareja planea casarse y necesita elaborar un presupuesto para la boda.</p>
      <a href="#" class="btn btn-primary">Ayudar</a>
    </div>
  </div>
</div>




  <div class="col-1 text-center">
    <%= image_tag "user1.jpg", class:"img-fluid rounded-circle", size:"100" %>
  </div>
  <div class="col-5">
    <p class="text-justify"> Hola, yo soy Sebastián, tengo 35 años, soy un microempresario
    dedicado a la ganadería y mis ingresos mensuales por estas operaciones son de $ 1.800.000</p>
  </div>
