<div class="col-news-top">
					<a href="#" class="date-in">
						<img class="img-responsive mix-in" src="images/pc.jpg" alt="">
						<div class="month-in">
						  <label>
							<span class="day">20</span>
							<span class="month">December</span>
						  </label>
						</div>
					</a>
                  <div class="clearfix"></div>
                </div>