<br><br>
<div class="container-fluid text-center">
<div class="row">
  <div class="col-md-4">
    <article class="contacts-block">
      <h5>About us</h5>
      <p>Sed condimentum ante ac quam varius pretium. Nunc ornare laoreet augue et elementum. Lorem ipsum dolor sit amet</p>				
    </article>
  </div>
  <div class="col-md-4">
    <article class="contacts-block">
      <h5>Company</h5>
      <ul class="">
        <li>
          <p><a href="#fakelink">About us</a></p>
        </li>
        <li>
          <p><a href="#fakelink">Partner</a></p>
        </li>
      </ul>
    </article>			
  </div>
  <div class="col-md-4">
    <article class="">
    <h5>Legal</h5>
      <ul class="links-block">
        <li>
          <p><a href="#fakelink">Blog</a></p>
        </li>
        <li>
          <p><a href="#fakelink">Discussions</a></p>
        </li>
    </article>			
  </div>
  </div>
</div>
</div>