<div class="container-fluid">
<div class="row">
  <div class="col col-sm-6 col-md-6 col-lg-6">
  	<figure class="callpost img-1" data-num="3">
  		<div class="content">
  			<div class="content-wraper">
  				<h2>The Edge of Nothing Lake</h2>
  				<div class="comment-count">26 Comments <i class="fa fa-comments-o"></i> </div>
  				<div class="excerpt">Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, </div>
  				<div class="postinfo">LIFESTYLE <span>March 15, 2015</span> </div>
  			</div>
  		</div>
  	</figure>
  </div>
  
  <div class="col col-sm-6 col-md-6 col-lg-6">
  	<figure class="callpost img-2" data-num="3">
  		<div class="content">
  			<div class="content-wraper">
  				<h2>The Edge of Nothing Lake</h2>
  				<div class="comment-count">26 Comments <i class="fa fa-comments-o"></i> </div>
  				<div class="excerpt">Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, </div>
  				<div class="postinfo">LIFESTYLE <span>March 15, 2015</span> </div>
  			</div>
  		</div>
  	</figure>
  </div>
</div>
</div>