<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col">
      <%= image_tag 'logo-google.jpg'%>
    </div>
    <div class="col-6">
      <p>Comprende técnicas de análisis y validación de datos para generar documentos fiables, de calidad, y con interfaces amigables</p>
    </div>
    <div class="col">
      <p>Travesía Excel</p>
      <!--<h4>Senior Consultor</h4>-->
      <!--<h5>YaleX</h5>-->
      <!--<span class="money">$1000</span>-->
      <!--<span class="badge badge-default">Amateur</span>-->
    </div>
    <div class="col">
      <%= link_to "Detalles", root_path, class:'btn btn-primary' %><br />
    </div>
  </div>
</div>