<br>
<h2>Oportunidades</h2>
<br>
<div class="col-lg-3">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Gerente General</h4>
      <h6 class="card-subtitle text-muted">YaleX</h6>
    </div>
    <img src="http://placehold.it/306x150">
    <div class="card-block">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  </div>
  
  <div class="col-lg-3">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Gerente de Operaciones</h4>
      <h6 class="card-subtitle text-muted">Microsoft</h6>
    </div>
    <img src="http://placehold.it/306x150">
    <div class="card-block">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  </div>
  
  <div class="col-lg-3">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Gerente Comercial</h4>
      <h6 class="card-subtitle text-muted">Bancolombia</h6>
    </div>
    <img src="http://placehold.it/306x150">
    <div class="card-block">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  </div>
  
  <div class="col-lg-3">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Gerente de Proyectos</h4>
      <h6 class="card-subtitle text-muted">Thinkflow</h6>
    </div>
    <img src="http://placehold.it/306x150">
    <div class="card-block">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Aprendizaje</h4>
      <h6 class="card-subtitle text-muted">YaleX</h6>
    </div>
    <img src="http://placehold.it/306x150">
    <div class="card-block">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  </div>
  
  <div class="col-lg-3">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Creatividad</h4>
      <h6 class="card-subtitle text-muted">Microsoft</h6>
    </div>
    <img src="http://placehold.it/306x150">
    <div class="card-block">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  </div>
  
  <div class="col-lg-3">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Negociación</h4>
      <h6 class="card-subtitle text-muted">Bancolombia</h6>
    </div>
    <img src="http://placehold.it/306x150">
    <div class="card-block">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  </div>
  
  <div class="col-lg-3">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Liderazgo</h4>
      <h6 class="card-subtitle text-muted">Thinkflow</h6>
    </div>
    <img src="http://placehold.it/306x150">
    <div class="card-block">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>