<div class="row">
  <div class="col-1 text-center">
    <%= image_tag "user2.jpg", class:"img-fluid rounded-circle", size:"100" %>
  </div>
  <div class="col-11">
    <p class="text-justify">Hola Marian, bienvenida a la familia YaleX, mi nombre es Yamile,
    seré tú mentora y amiga en esta aventura, estoy seguro que formaremos un equipo maravilloso, 
    si necesitas algo no dudes en preguntar.</p>
  </div>
</div>