<h1>La Gran Boda</h1>

<div class="row">
  <div class="col-1 text-center">
    <%= image_tag "user2.jpg", class:"img-fluid rounded-circle", size:"100" %>
  </div>
  <div class="col-5">
    <p class="text-justify">Enhorabuena, mi nombre es Tatiana, tengo 34 años, trabajo con el ICBF
    como médico nutricionista, y mis honorarios son de $ 3.000.000</p>
  </div>

  <div class="col-1 text-center">
    <%= image_tag "user1.jpg", class:"img-fluid rounded-circle", size:"100" %>
  </div>
  <div class="col-5">
    <p class="text-justify"> Hola, yo soy Sebastián, tengo 35 años, soy un microempresario
    dedicado a la ganadería y mis ingresos mensuales por estas operaciones son de $ 1.800.000</p>
  </div>
</div>


<div class="col-9">
  <p class="card-text">Necesitamos tú ayuda para elaborar el presupuesto de la boda</p>
  <a href="#" class="btn btn-primary">Go somewhere</a>
</div>

<div class="col-12">
  <p class="text-justify blockquote">Comprenda técnicas de análisis y validación de información
    para generar documentos fiables, de calidad y con interfaces amigables, a través de Microsoft Excel.</p>
</div>
<div class="col-12">
  <p class="text-justify blockquote">Comprenda técnicas de análisis y validación de información
    para generar documentos fiables, de calidad y con interfaces amigables, a través de Microsoft Excel.</p>
</div>
<div class="col-12">
  <p class="text-justify blockquote">Comprenda técnicas de análisis y validación de información
    para generar documentos fiables, de calidad y con interfaces amigables, a través de Microsoft Excel.</p>
</div>
<div class="col-12">
  <p class="text-justify blockquote">Comprenda técnicas de análisis y validación de información
    para generar documentos fiables, de calidad y con interfaces amigables, a través de Microsoft Excel.</p>
</div>
<div class="col-12">
  <p class="text-justify blockquote">Comprenda técnicas de análisis y validación de información
    para generar documentos fiables, de calidad y con interfaces amigables, a través de Microsoft Excel.</p>
</div>
