<div class="container-fluid">
  <div class="row text-xs-center">
    <div class="col-xs-4">
      <h4>asume retos en escenarios flexibles para el aprendizaje y colaboración</h4>
    </div>
    <div class="col-xs-4">
      <h4>certifica tús habilidades mejorando procesos de organizaciones digitales</h4>
    </div>
    <div class="col-xs-4">
      <h4>construye relaciones que perduran y generan oportunidades gratificantes</h4>
    </div>
  </div>
</div>