<div class="col-xs-12 col-sm-6">
<h1>QUICKLY CREATE ORGANIZED LISTS</h1>
<h4>AnyList suggests common items as you type, and automatically groups items by category to help save time at the store.</h4>
<br><br>
<h1>QUICKLY CREATE ORGANIZED LISTS</h1>
<h4>AnyList suggests common items as you type, and automatically groups items by category to help save time at the store.</h4>
<br><br>
<h1>QUICKLY CREATE ORGANIZED LISTS</h1>
<h4>AnyList suggests common items as you type, and automatically groups items by category to help save time at the store.</h4>
<br>
<a class="btn btn-primary btn-lg" href="#" role="button">Aprender más</a>
</div>
</div>