<div class="container-fluid">
  <div class="row text-center">
    <div class="col py-4 bg-primary text-white">
      <h4>asume retos en escenarios flexibles para el aprendizaje y colaboración</h4>
    </div>
    <div class="col py-4 bg-danger text-white">
      <h4>certifica tús habilidades mejorando procesos de organizaciones digitales</h4>
    </div>
    <div class="col py-4 bg-warning text-white">
      <h4>construye relaciones que perduran y producen oportunidades gratificantes</h4>
    </div>
  </div>
</div>