<section id="intro">
  <div class="intro-wrapper d-flex align-items-center">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1 class="display-4"><strong>Tús competencias están en juego</strong></h1>
          <br>
          <h3>Obtén experiencia de personas humildes y empresas innovadoras<br> comprometidas con la educación y la generación de conocimiento</h3>
          <br>
          <button type="button" class="btn btn-outline-secondary btn-lg">Compruébalo</button>
        </div>
      </div>
    </div>
  </div>
</section>